<!DOCTYPE html>
<html>
  <head>
    <style>
       #map {
        height: 500px;
        width: 100%;
       }
    </style>
    <script src="/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="/bootstrap.min.css">
  </head>
  <body>
    <center><h3>My Google Maps Demo</h3></center>
    <div class="row">
    <div class="col-md-3 col-xs-3 col-sm-3"></div>

    <div class="col-md-7 col-xs-7 col-sm-7">
    
    <input type="text" id="txt" placeholder="enter tour position" class="form-control"> 
    <br>
    <center><button type="button" class="btn btn-success" id="btn" onclick="">Search</button></center>
    <br><br>
    </div>
    </div>
    <div class='row'>
    <div class='col-md-3'></div>
    <div class="col-md-7"><input type="text" id="add" class="form-control" placeholder="Map Address Will Be Printed Here" readonly></div>
    
    </div>
    <br><br>
    <div id="map" class="col-sm-7"></div>
    


    <script>
      $("#btn").click(function(e){
        e.preventDefault();
        var txt=$("#txt").val();
        alert(txt);
        $("#txt").val("ok");
        $("#add").val(txt);
      })

      function initMap() {
        var uluru = {lat: 22.32, lng: 88.24};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
       /* var places = new google.maps.places.Autocomplete(document.getElementById('txt'));
        var place = places.getPlace();
           var address = place.formatted_address;
           var latitude = place.geometry.location.lat();
           var longitude = place.geometry.location.lng();
        
            console.log("ok");
            console.log(address);
            console.log(latitude);
            console.log(longitude);*/
        
      }
    </script>
   <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhcBj8QN9RqeG8cRNa5XscyeUnS9APgwo&callback=initMap">
          /*google.maps.event.addDomListener(window, 'load', function () {
           var places = new google.maps.places.Autocomplete(document.getElementById('txt'));
           google.maps.event.addListener(places, 'place_changed', function () {
           var place = places.getPlace();
           var address = place.formatted_address;
           var latitude = place.geometry.location.lat();
           var longitude = place.geometry.location.lng();
        
            console.log("ok");
            console.log(address);
            console.log(latitude);
            console.log(longitude);
   });*/
    </script>
    -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhcBj8QN9RqeG8cRNa5XscyeUnS9APgwo&callback=initMap"></script>
 
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  </body>
</html>
